  section {
    display: block;
    margin: 20px
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .top-button-row {
    display: block;
    width: 100%;
  }
  
  .top-button-row .mat-button-base {
    margin: 15px 15px 15px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .direct-button{
    float: left;
    border-radius: 26px;
    background: #eae7e7;
    width: 115px;
    height: 35px;
    color: grey;
  }

  
  .more-button{
    float: right;
    background: #eae7e7;
    border-radius: 2px;
    width: 100px;
    height: 40px;
  }


  .approve-button{
    float: right;
    background: #2196f3;
    color: white;
    border-radius: 2px;
    width: 120px;
    height: 40px;
  }

  .caret-down {
    margin: 6px 10px 10px 10px;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/caret-down-solid.svg);
    display: inline-block;
  }

  .flag-solid {
    margin: 6px 10px 10px 10px;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/flag-solid.svg);
    display: inline-block;
  }

  .archive-solid {
    margin: 6px 10px 10px 10px;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/archive-solid.svg);
    display: inline-block;
  }

  .delete-solid {
    margin: 6px 10px 10px 10px;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/trash-alt-regular.svg);
    display: inline-block;
  }



  .envelope-solid {
    margin: 12px 10px 10px 10px;
    width: 12px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/envelope-solid.svg);
    display: inline-block;

  }


  .open-button{
    border-radius: 26px;
    background: #eae7e7;
    width: 35px;
    height: 35px;
    color: grey;
  }

  

  .circle-btn {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid grey;
    background: white;
    margin: 24px;
    margin-top: 10px;
    font-size:22px;
    cursor: pointer;
  }

  .circle-btn .angle-down {
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/angle-down-solid.svg);
    display: inline-block;
  }

  .circle-btn .angle-up {
    width: 17px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/angle-up-solid.svg);
    display: inline-block;
  }
  .card-small {
    height: 16px;
    width: 20%;
    font-size: 18px;
    font-weight: 600;
  }

  .card-small-25 {
    height: 16px;
    width: 25%;
    font-size: 18px;
    font-weight: 600;
  }

  .dotted-border-top {
    border-top: 1px dotted grey;
    padding-top: 22px;
    width: 90%;
  }

  .invoice-header {
    font-weight: 700;
    font-size: 12px;
    color: grey;
  }

  .invoice-subtotal-value {
    font-weight: 700;
    font-size: 17px;
    color: grey;
    float: right;
    margin-top: -20px;
    margin-right: 32px;
  }

  .margin-top-15 {
    margin-top: 15px;
  }

  .margin-top-23 {
    margin-top: 23px;
  }

  .margin-15 {
    margin: 18px;
    font-size: 17px;
    font-weight: 600;
  }

  .more-options-box {
    margin: 20px 0px 23px -163px;
    top: 68px;
    width: 260px;
    position: absolute;
    border: 1px solid grey;
    background: white;
  }